
/*Home Header section
---------------------*/
.header-Section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius: 10%; */
    /* border-bottom-right-radius: 100px; */
    position: relative; 
}
.formHeight{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-title{
    margin-top: -120px;
    font-family: 'Courgette', cursive;
    text-align: center;
}
.head-title-text{
    font-size: 9vmin;
    letter-spacing: 2px;
    font-family: 'Courgette', cursive;
    text-align: center;
}
.head-title-btn{
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #ffffffcc;
    border-radius: 10px;
    box-shadow: rgb(50 50 93 / 30%) 2px -2px 20px 1px, rgb(0 0 0 / 34%) 0px 8px 16px -8px;
    color: #000e20;
    font-family: Courgette,cursive;
    font-size: 4.5vmin;
    padding: 3px 15px 6px;
    text-align: center;
    text-decoration: none;
    border: none;
    letter-spacing: -1px;
    padding: .3rem 1.5rem .5rem 1.5rem;
    transition: .4s;
}
.head-title-btn:hover{
    background-color: #00101be7;
    color: #fff;
    box-shadow: rgb(50 50 93 / 30%) 2px -2px 20px 1px, rgb(0 0 0 / 34%) 0px 8px 16px -8px;
}


/*Home content section
---------------------*/
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.card{
    position: relative;
    width: 320px;
    text-align: center;
    border-radius: 20px;
    box-shadow: #0e1e251f 0px 2px 20px 2px, #0e1e2552 1px 1px 13px 0px;
    padding-bottom: 60px;
}
.card-image{
    width: 320px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    /* border-radius: 20px; */
    border-radius: 20px;
}

.card-title{
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 10px;
    color: #001520;
}
.card-desc{
    font-family: 'Philosopher', sans-serif;
    margin: 0px 10px;
    text-align: justify;
    line-height: 1.6rem;
    padding: 0px 10px;

}
.card-button{
    text-align: right;
    margin: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-btn{
    font-size: 28px;
    background-color: transparent;
    color: #001c36;
    border: none;
    transition: .3s;
}
.card-btn:hover{
    transform: scale(1.06);
}
.card-btn:hover:active{
    color: rgba(255, 0, 0, 0.651);
}



.content{
    display: grid;
    grid-gap: 6vmin;
}

@media screen and (min-width: 720px) {
    section{
        grid-template-columns: auto auto;
        grid-gap: 5px;
    }
}

@media screen and (min-width: 992px) {
    section{
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
    }
}


/* updateForm---------------
---------------------------- */
.update-div{
    
}
.update-form-div{
    margin: 25px 0px;
}
.form-title{
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Courgette', cursive;
    text-align: center;
}
.update-input{
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    color: #000f18;
    width: 400px;
    font-size: 18px;
    font-family: 'Merienda', cursive;
}
.update-textArea{
    width: 400px;
    border: none;
    border-bottom: 1px solid;
    height: 150px;
    background-color: transparent;
    color: #000f14;
    font-size: 17px;
    resize: none;
    text-align: justify;
    font-family: 'Merienda', cursive;
}
.update-textArea::-webkit-scrollbar {
    display: none;
}

.update-form-btn{
    color: #ffff;
    letter-spacing: 2px;
    background-color: #31556d;
    padding: 5px 16px 7px 16px;
    font-size: 18px;
    font-family: 'Courgette', cursive;
    border-radius: 10px;
    margin: -5px 15px 10px 0px;
    border: none;
    box-shadow: rgba(39, 39, 39, 0.15) 0px 15px 25px, rgba(73, 73, 73, 0.05) 0px 5px 10px;
    transition: .4s;
}
.update-form-btn:hover{
    transform: scale(1.1);
    background-color: #0c2f44;
}
.lodding-update{
    display: flex;
    justify-content: center;
}
.errorMessage{
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    padding: 0px 20px;
}
@media screen and (max-width: 600px) {
    .update-input,.update-textArea{
        width: 300px;
    }
    .head-title-text{
        font-size: 11vmin;
    }
    .head-title{
        margin-top: -50px;
    }
    .header-Section{
        height: 55vh;
    }
    .head-title-btn{
        font-size: 5vmin;
    }
}